.expenses-table-block {
    height: 100%;
    box-sizing: border-box;
}

.expenses-block {
    display: flex;
    flex-direction: column;
    height: calc(400px + var(--app-block-padding) * 2);
    overflow: auto;
}
