.expense-category {
    display: flex;
    align-items: center;
}

.expense-category-icon {
    background-color: brown;
    color: white;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense-table__row {
    height: 70px;
}

.expense-table__description-cell {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
