.expense-table__row {
    height: 70px;
}

.expense-table__category-cell {
    display: flex;
    align-items: center;
}

.expense-table__category-icon {
    background-color: brown;
    color: white;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.expense-table__category-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.expense-table__action-cell {
    display: flex;
    justify-content: start;
}

.expense-table__action-cell > * {
    margin-right: 10px;
}

.expense-table__action-cell > *:nth-child(2) {
    margin-right: 0;
}
