.columns__container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.columns__period-selector {
    display: inline-block;
    margin-bottom: 12px;
}

.period-selector__period-segmented {
    margin-right: 18px;
}

.period-selector__range-picker {
    height: 32px;
    width: 220px;
}
