.last-expenses-list__item {
    min-height: 72px;
    padding: 12px 0;
}

.last-expenses-list__item-category {
    display: flex;
    align-items: center;
}

.last-expenses-list__item-category-icon {
    background-color: brown;
    color: white;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-expenses-list__item-amount {
    margin-right: 10px;
    font-weight: 500;
}
