.expense-category {
    display: flex;
    align-items: center;
}

.expense-category-icon {
    background-color: brown;
    color: white;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expense-amount {
    margin-right: 10px;
    font-weight: 500;
}
