.categories-list__item {
    --item-height: 80px;
    --item-width: 80px;
    padding: calc(var(--item-width) * 0.1);
    background-color: brown;
    color: white;
    height: var(--item-height);
    width: var(--item-width);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categories-list__item:hover .categories-list-item__buttons-container {
    transition: opacity 0.5s;
    opacity: 100%;
}
.categories-list-item__buttons-container {
    transition: opacity 0.5s;
    font-size: calc(var(--item-width) * 0.2);
    opacity: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categories-list-item__icon {
    display: inline-flex;
    font-size: calc(var(--item-width) * 0.4);
}

.categories-list-item__name {
    margin-bottom: -10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: calc(var(--item-width) * 0.16);
    width: 100%;
    line-height: 120%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
}
