.user-page__wrapper {
    padding: 20px 50px;
    max-width: 1300px;
    margin: auto;
}

.app-block.profile-block {
    padding: 45px;
}

.profile-block__header {
    display: flex;
    justify-content: space-between;
}

.profile-block__header-info {
    display: flex;
}

.profile-block__header-avatar {
    display: inline-block;
}

.profile-block__header-title {
    display: inline-block;
    margin: 0 15px;
}

.profile-block__header-name {
    display: block;
    line-height: 38px;
    font-size: 30px;
}

.profile-block__header-email {
    display: block;
    line-height: 18px;
    font-size: 16px;
}

.profile-block__header-edit-btn {
}

.profile-block__info {
    display: flex;
    flex-wrap: wrap;
}

.profile-block__info-item {
    margin-top: 30px;
    margin-right: 30px;
    width: 300px;
}

.profile-block__info-item-title {
    font-size: 14px;
    color: #bfbfbf;
}

.profile-block__info-item-text {
    font-size: 18px;
}

.profile-block__info-edit-btns {
    width: 100%;
}

.profile-block__info-edit-btn {
    margin-top: 20px;
    display: inline-block;
}

.profile-block__info-item.profile-block__info-edit-btns {
    margin-top: 10px;
}

.profile-block__info-edit-btn:first-child {
    margin-right: 20px;
}
