.donut-plot__empty-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donut-plot__empty-svg {
    font-size: 250px;
    color: rgba(0, 0, 0, 0.04);
}

.donut-plot__empty-description {
    margin-top: 10px;
    font-size: 1.5em;
    color: #bfbfbf;
}
