.donut-plot__empty-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donut-plot__empty-description {
    margin-top: 10px;
    font-size: 1.5em;
    color: #bfbfbf;
}

.donut-plot__empty-logo {
    transform: scale(0.2);
}
