.period-select {
    border-radius: 5px;
    font-size: inherit;
    font-weight: 500;
    background-color: #bfbfbf;
}

.ant-select-single.ant-select-open.period-select .ant-select-selection-item {
    color: rgba(0, 0, 0, 0.55);
}
