.categories-list__content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.categories-list__add-btn {
    padding: 8px;
    background-color: white;
    color: #bfbfbf;
    height: 80px;
    width: 80px;
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.categories-list__add-btn:active {
    background-color: #bfbfbf;
    color: #8a8989;
}
